body{
    font-size: 18px;
    font-weight: 450;
    min-width: 400px;
}
ul{
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}
li{
    margin-top: 5px;
}
a{
    color: #0c0a0a;
}
a:hover{
    color: blue;
}